@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* background-color: #282c34; */
  background-color: white;
  height: 100vh;
  width: 100%;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* overflow: hidden; */
}

.App-header {
  width: 100%;
  height: 120px;
  background-color: #F7F8F8;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */

}

.upper {
  width: calc(100% - 350px);
  /* width: 100%; */
  height: 45px;
  margin: 10px 175px 0px 175px;
  /* background-color: rgb(224, 163, 163); */
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
}

.upper>img {
  width: 45px;
  height: 25px;
}

.upper>.motors {
  width: auto;
  /* height: 30px; */
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;

}

.upper>.motors>span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  /* border: 1px solid rgb(168, 164, 164); */
  box-shadow: 0px -3px 6px 0px rgba(199, 192, 192, 0.3);
  border-radius: 100%;
}

.upper>.property {
  width: auto;
  /* height: 30px; */
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;

}

.upper>.property>span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  /* border: 1px solid rgb(168, 164, 164); */
  box-shadow: 0px -3px 6px 0px rgba(199, 192, 192, 0.3);
  border-radius: 100%;
}

.navbar {
  width: calc(100% - 350px);
  /* width: 100%; */
  height: 70px;
  margin: 0px 175px 0px 175px;
  /* background-color: rgb(218, 218, 218); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: flex-start; */
}

.navbar>img {
  width: 75px;
  height: 43px;
}

.search-Bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 330px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;

}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 5px;
}

.search-Bar>input {
  width: 250px;
  height: 100%;
  font-size: 18px;
  border: none;
  outline: none;
}

.search-Bar>.angle-down-div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 5px; */
  margin-right: 10px;
}

/* .search-Bar>.angle-down-div>.angle-down {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.serach-bar-larger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  width: 800px;
  height: 50px;
  background-color: white;
}

.serach-bar-larger>input {
  width: 730px;
  height: 100%;
  font-size: 18px;
  margin-left: 10px;
  border: none;
  outline: none;
}

.search-bar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  font-size: 28px;
  /* margin-right: 10px; */
  background-color: #002F34;
}

.serach-bar-larger>.search-bar-box>.search-icon2 {
  color: white;
}

.login-Btn-Box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(210, 201, 35); */
  height: 100%;
  width: 60px;
}

.login-Btn-Box>a {
  font-size: 18px;
  color: #002F34;
  font-weight: 700;
}

.sell-plus-Box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100px;
  font-size: 17px;
  color: #002F34;
  font-weight: 700;
  border-top: 5px solid #3a77ff;
  border-bottom: 5px solid #3a77ff;
  border-left: 5px solid #ffce32;
  border-right: 5px solid #23e5db;
  border-radius: 40px;

}

.sell-plus-Box>.plus-icon {
  font-size: 17px;
  color: #002F34;
  font-weight: 700;
  margin-right: 5px;
}

.sell-plus-Box>span {

  font-size: 17px;
  color: #002F34;
  font-weight: 700;
}

.apiDataMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.apiDataDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin: 0px 10px 10px 5px; */
  /* background-color: #23e5db; */
  /* margin: 0px 175px 0px 175px; */
  width: 100%;
  height: auto;
}

.thumbnailBox {
  width: 280px;
  height: 430px;
  /* background-color: #3a77ff; */
  /* margin: 40px 10px 10px 10px; */
  margin: 40px 10px 0px 10px;
  border-radius: 1%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease;

}

.thumbnailBox:hover {
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.thumbnailBox>img {
  width: 100%;
  height: 150px;
  /* padding: 0 5px 0 5px; */
  padding: 5px 5px 0 5px;
  margin-bottom: 10px;

}

.itemInfoBox {
  display: flex;
  flex-direction: column;
  /* padding: 0 25px 0px 25px; */
  padding: 0px 10px 0px 10px;
}

.itemInfoBox>div {
  margin-bottom: 10px;
}

.itemInfoBox>.priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandTitle {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins';

}

.thumbnailBox>.decription {
  /* word-wrap: break-word; */
  width: 100%;
  word-break: break-all;
  overflow: auto;
}

.priceBox>span {
  font-size: 25px;
  font-weight: 500;
}

.brandTitle>span {
  padding-left: 5px;
}

.rating>span {
  font-size: 12px;
  padding-left: 20px;
}

/* MODEL ///////////////////////// */
.authBody {
  width: 100%;
  height: 100vh;
}

.mainAuthBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.olxlogo>img {
  width: 110px;
  height: 60px;
  margin-bottom: 35px;
}

.animate {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}
a {
  color: #278a95;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #002f34;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: underline;
}

.text-primary {
  color: #002f34;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.logo h1 {
  color: #00A885;
  margin-bottom: -12px;
}

input[type="checkbox"] {
  width: auto;
}

button {
  cursor: pointer;
  background: #002f34;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

span.validate-tooltip {
  width: 100%;
  display: block;
  padding: 5px;
  color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: -28px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: tooltipanimation 0.3s 1;
  animation: tooltipanimation 0.3s 1;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group label {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 16px;
  color: #cdcdcd;
  font-weight: normal;
  padding: 2px 5px;
  z-index: 5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.input-group input {
  outline: none;
  display: block;
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 3;
  border: 1px solid #d9d9d9;
  padding: 10px 10px;
  background: #ffffff;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.input-group .lighting {
  width: 0;
  height: 2px;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.input-group.focused .lighting {
  width: 100%;
}

.input-group.focused label {
  background: #fff;
  font-size: 12px;
  top: -8px;
  left: 5px;
  color: #00A885;
}

.input-group span.validate-tooltip {
  margin-top: 0;
}

.wrapper {
  width: 320px;
  background: #fff;
  margin: 20px auto;
  min-height: 200px;
  border: 1px solid #f3f3f3;
}

.wrapper .inner-warpper {
  padding: 30px 30px 25px;
  box-shadow: 1px 1.732px 10px 0px rgba(0, 0, 0, 0.063);
}

.wrapper .title {
  margin-top: 0;
}

.wrapper .supporter {
  margin-top: 10px;
  font-size: 14px;
  /* color: #8E8E8E; */
  cursor: pointer;
}

.wrapper .remember-me {
  cursor: pointer;
}

.wrapper input[type="checkbox"] {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
  cursor: pointer;
}

.wrapper label[for="rememberMe"] {
  cursor: pointer;
}

.wrapper .signup-wrapper {
  padding: 25px 0 0 10px;
  font-size: 14px;
}

.signup-wrapper>div>span {
  padding-left: 20px;
  color: #278a95;
  font-size: 15px;
  font-weight: 500;
}

.signup-wrapper>div>span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signup-wrapper>div>span:hover,
.signup-wrapper>div>span:focus {
  color: #002f34;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}